body {
    overflow: hidden;
}

.score {
    position: absolute;
    left: 10px;
    top: 50px; 
}

.reset {
    position: absolute;
    right: 25px;
    top: 55px; 
}

.dot{
    background-size: 100% auto;
    position:absolute;
    width:225px;
    height:225px;
    border-radius:50%;
}
.first {
    top: 5px;
    left: 200px;
}
.second{
    top: 150px;
    left: 395px;
    -webkit-transform: rotate(70deg);
    -moz-transform: rotate(70deg);
    -ms-transform: rotate(70deg);
    -o-transform: rotate(70deg);
    transform: rotate(70deg);
}
.third{
    top: 380px;
    left: 325px;
    -webkit-transform: rotate(140deg);
    -moz-transform: rotate(140deg);
    -ms-transform: rotate(140deg);
    -o-transform: rotate(140deg);
    transform: rotate(140deg);
}
.fourth{
    top: 380px;
    left: 75px;
    -webkit-transform: rotate(210deg);
    -moz-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    -o-transform: rotate(210deg);
    transform: rotate(210deg);
}
.fifth{
    top: 150px;
    left: 5px;
    -webkit-transform: rotate(280deg);
    -moz-transform: rotate(280deg);
    -ms-transform: rotate(280deg);
    -o-transform: rotate(280deg);
    transform: rotate(280deg);
}
.sun{
    margin-left: 30%;
    margin-top: 25px;
    width: 600px;
    height: 600px;
    position:absolute;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
    -webkit-animation-name:orbit;
    -webkit-animation-duration:20s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:linear;
    -moz-animation-name:orbit;
    -moz-animation-duration:20s;
}
@-webkit-keyframes orbit { 
    from { -webkit-transform:rotate(0deg) } 
    to { -webkit-transform:rotate(360deg) } 
}
@-moz-keyframes orbit { 
    from { -moz-transform:rotate(0deg) } 
    to { -moz-transform:rotate(360deg) } 
}



.nest {
    position: absolute;
    bottom: 5px;
    background-size: 100% auto;
    left: 5px;
    background-image: url("teddy.jpg");
    width: 350px;
    height: 350px;
}
.nest-face {
    z-index: 2;
    position: absolute;
    bottom: 5px;
    background-size: 100% auto;
    left: 5px;
    width: 100px;
    height: 100px;
}
.dragon {
    position: absolute;
    bottom: 5px;
    background-size: 100% auto;
    right: 5px;
    background-image: url("gator.png");
    width: 350px;
    height: 350px;
}
.dragon-face {
    z-index: 2;
    position: absolute;
    bottom: 5px;
    background-size: 100% auto;
    right: 5px;
    width: 100px;
    height: 100px;
}