<nav role="navigation" class="navbar navbar-inverse navbar-fixed-top" style="padding-left: 20px; padding-right: 20px;">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">Daniel Murphy</a>
        </div>
        <!-- Collection of nav links and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{site.url}}">Home</a></li>
                <li><a href="{{site.baseurl}}/blog">Blog</a></li>
                <li><a href="{{site.baseurl}}/resume">Resume</a></li>
                <li><a href="{{site.baseurl}}/projects">Projects</a></li>
            </ul>
        </div>
</nav>

{% if page.backgroundpic %}
<section class="header" id="header" style="background:url('{{site.baseurl}}/img/{{page.backgroundpic}}') 50% 0 no-repeat fixed; background-size: 100% 600px;">
{% else %}
<section class="header" id="header" style="background:url('{{site.baseurl}}/img/bg_orig.jpeg') 50% 0 no-repeat fixed; background-size: 100% 600px;">
{% endif %}

    <!-- Main Head Title -->
    {% if page.is_post %}
    {% else %}
        <div class="headingtitle">
            {% if page.title %}<h2><span>{{page.title}}</span></h2>{% endif %}
            <br>
            {% if page.subtitle %}<h3><span>{{page.subtitle}}</span></h3>{% endif %}
            <br>
            {% if site.smalltalk %}<p>{{ site.smalltalk }}</p>{% endif %}   
        </div>
    {% endif %}
</section>

{% if page.imagedetails %}<div class="imagedetails">{{ page.imagedetails }}</div>{% endif %}
