<ul class="icon-links">

  <!-- GitHub link -->
  <li class="icon-link-item"><a href="https://github.com/{{ site.github_username }}" class="icon-link">{% include icons/icon-github.html %}</a></li>

  <!-- Twitter link -->
  <li class="icon-link-item"><a href="https://twitter.com/{{ site.twitter_username }}" class="icon-link">{% include icons/icon-twitter.html %}</a></li>

  <!-- LinkedIn link -->
  <li class="icon-link-item"><a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" class="icon-link">{% include icons/icon-linkedin.html %}</a></li>

  <!-- Website link -->
  <li class="icon-link-item"><a href="{{ site.portfolio_url }}" class="icon-link">{% include icons/icon-website.html %}</a></li>

</ul>