/*This is the header section styles*/

.header{
  width: 100%;
  @media only screen and (max-width: 500px) {
    height: 300px;
  }
  @media only screen and (min-width: 1700px) {
    height: 900px;
  }
  height: 600px;

  margin: 0 auto;
  padding: 0;
  display: table;

  .sitenavbar {
    top: 0px;
    position: fixed;
    width: 100%;
    min-height: 50px;
    margin-bottom: 20px;
    background-color: aquamarine;
    border: #2F00FF;
  }
  .navlist {
    list-style-type: none;
    margin: 0;
    padding-top: 10px;
    overflow: hidden;
    float: right;
  }
  .navlistitem {
    font-size: 20px;
    float: left;
  }
  .navlink {
    display: block;
    width: 60px;
  }

  .headingtitle {
      display: table-cell;
      vertical-align: middle;
  }

  h2 span { 
      background-color: rgba(255, 255, 255, 0.8); 
      padding-left: 10px;
      padding-right: 10px;
  }
  h3 span { 
      background-color: rgba(255, 255, 255, 0.8); 
      padding-left: 10px;
      padding-right: 10px;
  }
  //Header title and caption
  h2 {
      text-align: center;
      font-family: $header-font-family;
      @media only screen and (max-width: 500px) {
        font-size: 1.8em; 
      }
      font-size: 3em;
      font-weight: 900;
      color: black !important;
      letter-spacing: 0.2em;
      margin: 0 auto;

      a{
        margin-left: 0%;
        color: black !important;
      }
    }
  //Header title and caption
  h3 {
    text-align: center;
    font-family: "Monostate", sans-serif;
    @media only screen and (max-width: 500px) {
      font-size: 1.8em; 
    }
    font-size: 3em;
    font-weight: 900;
    color: black !important;
    letter-spacing: 0.2em;
    margin: 0 auto;
  }

//    Header caption styles
  p{
    text-align: center;
    font-family:$header-font-family;
    @media only screen and (max-width: 500px) {
        font-size: 1em; 
    }
    font-size: 1.2em;
    font-weight: 600;
    color: $header-font-color;
    letter-spacing: .1em;

    margin-top:2% ;
  }

  a{
    text-decoration: none !important;
    color: #fff;
    
    @media screen and (max-width: 360px) {
      margin-left: 60%;
    }
  }

  .tab{
    font-weight: 900;
    font-size: 1.4em;
  }

  .social-pack{
    text-align: center;
    a{
      text-decoration: none;
      &:hover{
        color: #00b3ee;
      }
    }
  }
}
.imagedetails {
  float: right;
  padding-right: 10px;
  font-style: italic;
  font-size: smaller;
}