<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="theme-{% if site.resume_theme %}{{ site.resume_theme }}{% endif %}">
    
    {% include header.html %}

    <div class="wrapper">

      <header class="page-header">

        <img src="../img/avatar.jpg" alt="my photo" class="avatar">

        <h1 class="header-name">Daniel Murphy</h1>

        <div class="title-bar">

          <!-- Your title is also defined in the _config.yml file -->
          <h2resume class="header-title">Full Stack Software Engineer</h2resume>

          <!-- This is the markup for the icon links; moved out to an include because it's very verbose, and you shouldn't ever need to edit the markup (unless you want to re-order the icons); if you want to customize which links appear, define them in the _config.yml file -->
          {% include iconLinks.html %}
        </div>

        <div class="executive-summary">
          <p> I do full stack development.  My areas of expertise are building/consuming RESTful APIs, geotemporal visualizations, object-oriented programming, and delivering superb UX on Windows Desktop, Web, and Android.</p>
        </div>

        <a href="mailto:rdanielmurphy@gmail.com" class="contact-button">Contact me</a>

      </header>

      <!-- begin Experience -->
      <section class="content-section">

        <header class="section-header">
          <h2resume>Experience</h2resume>
        </header>

        <!-- Duplicate these resume-item elements and edit accordingly for each job you want to add here -->
        <div class="resume-item">
          <h3 class="resume-item-title">Patrocinium Systems</h3>
          <h4 class="resume-item-details">UX Developer &bull; October, 2015 &mdash; Present</h4>
          <p class="resume-item-copy">Lead full stack developer on a 3D temporal geospatial web application using CesiumJS, D3, AngularJS, and Bootstrap on the frontend.  NodeJS and ExpressJS on the backend, and ElasticSearch was the datastore. Connected to S3 to save/load assets. Managed a small team to meet short deadlines.  I was responsible of deploying/maintaining applications on AWS with EB</p>
        </div><!-- end of resume-item -->

        <!-- another resume item -->
        <div class="resume-item">
          <h3 class="resume-item-title">Ringtail Design</h3>
          <h4 class="resume-item-details">UX Developer &bull; March, 2014 &mdash; June, 2015</h4>
          <p class="resume-item-copy">
            <ul class="resume-item-list">
              <li>Android app development which involved leveraging NodeJS and MQTT on the backend</li>
              <li>Created geo-temporal and chart visualizations using C#.Net for use on touch screens</li>
              <li>Web app development using NodeJS, ExpressJS, Neo4j, Angular, D3, and ThreeJS</li>
              <li>Heavily involved in the full UX process for all projects including meeting with customer and users to build requirements</li>
            </ul>
          </p>
        </div><!-- end of resume-item -->

        <!-- by now you're getting the picture... -->
        <div class="resume-item">
          <h3 class="resume-item-title">Information Management Systems, Inc.</h3>
          <h4 class="resume-item-details">Software Developer &bull; May, 2009 &mdash; March, 2014</h4>
          <p class="resume-item-copy">
            <ul class="resume-item-list">
              <li>Web app development using PHP which analyzed cancer statistics</li>
              <li>Used C, C++, and C++/CLI to build and maintain many small cancer research programs</li>
              <li>Used Java to build several cancer data analyisis applications which leveraged libraries such as Jasper Reports and Lucene as well as Groovy scripting.  Used Swing for the UI and JUnit to test</li>
              <li>Added threading using the threading library in the C+11 standard to a C++ program that calculates best fit lines</li>
            </ul>
          </p>
        </div><!-- end of resume-item -->

      </section>
      <!-- end Experience -->

      <!-- begin Education -->
      <section class="content-section">

        <header class="section-header">
          <h2resume>Education</h2resume>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title">Towson University</h3>
          <h4 class="resume-item-details">Bachleor's Degree, Computer Science &bull; 2006 &mdash; 2009</h4>
          <p class="resume-item-copy">Minor in Math</p>
        </div>

      </section>
      <!-- end Education -->

      <!-- begin Skills -->
      <section class="content-section">
        <header class="section-header">
          <h2>Programming Languages</h2>
        </header>

        <ul class="list-unstyled list-skills">
           <li>
              <span class="caption-skill">Java</span>
              <div class="progress">
                 <div class="progress-bar" style="width: 99%">
                    <span>99% </span>
                 </div>
              </div>
           </li>
           <li>
              <span class="caption-skill">Javascript</span>
              <div class="progress">
                 <div class="progress-bar" style="width: 99%">
                    <span>99% </span>
                 </div>
              </div>
           </li>
           <li>
              <span class="caption-skill">C++/CLI</span>
              <div class="progress">
                 <div class="progress-bar" style="width: 90%">
                    <span>90% </span>
                 </div>
              </div>
           </li>
           <li>
              <span class="caption-skill">C++</span>
              <div class="progress">
                 <div class="progress-bar" style="width: 80%">
                    <span>80% </span>
                 </div>
              </div>
           </li>
           <li>
              <span class="caption-skill">C#</span>
              <div class="progress">
                 <div class="progress-bar" style="width: 70%">
                    <span>70% </span>
                 </div>
              </div>
           </li>
           <li>
              <span class="caption-skill">C</span>
              <div class="progress">
                 <div class="progress-bar" style="width: 65%">
                    <span>65% </span>
                 </div>
              </div>
           </li>
           <li>
              <span class="caption-skill">Groovy</span>
              <div class="progress">
                 <div class="progress-bar" style="width: 65%">
                    <span>65% </span>
                 </div>
              </div>
           </li>
           <li>
              <span class="caption-skill">Python</span>
              <div class="progress">
                 <div class="progress-bar" style="width: 40%">
                    <span>40% </span>
                 </div>
              </div>
           </li>
           <li>
              <span class="caption-skill">PHP</span>
              <div class="progress">
                 <div class="progress-bar" style="width: 30%">
                    <span>30% </span>
                 </div>
              </div>
           </li>
        </ul>
      </section>

      <section class="content-section">
        <header class="section-header">
          <h2>Databases</h2>
        </header>

        <ul class="list-unstyled list-skills">
           <li>
              <span class="caption-skill">MongoDB</span>
              <div class="progress">
                 <div class="progress-bar" style="width: 80%">
                    <span>80% </span>
                 </div>
              </div>
           </li>
           <li>
              <span class="caption-skill">ElasticSearch</span>
              <div class="progress">
                 <div class="progress-bar" style="width: 75%">
                    <span>75% </span>
                 </div>
              </div>
           </li>
           <li>
              <span class="caption-skill">MySql</span>
              <div class="progress">
                 <div class="progress-bar" style="width: 55%">
                    <span>55% </span>
                 </div>
              </div>
           </li>
           <li>
              <span class="caption-skill">Neo4j</span>
              <div class="progress">
                 <div class="progress-bar" style="width: 50%">
                    <span>50% </span>
                 </div>
              </div>
           </li>
        </ul>
      </section>

      <section class="content-section">
        <header class="section-header">
          <h2>Other Tech/Frameworks/Tools</h2>
        </header>

        <ul class="list-unstyled list-skills">
           <li>
              <span class="caption-skill">AngularJs</span>
              <div class="progress">
                 <div class="progress-bar" style="width: 90%">
                    <span>90% </span>
                 </div>
              </div>
           </li>
           <li>
              <span class="caption-skill">Android Development</span>
              <div class="progress">
                 <div class="progress-bar" style="width: 80%">
                    <span>80% </span>
                 </div>
              </div>
           </li>
           <li>
              <span class="caption-skill">.NET framework</span>
              <div class="progress">
                 <div class="progress-bar" style="width: 80%">
                    <span>80% </span>
                 </div>
              </div>
           </li>
           <li>
              <span class="caption-skill">CesiumJs</span>
              <div class="progress">
                 <div class="progress-bar" style="width: 80%">
                    <span>80% </span>
                 </div>
              </div>
           </li>
           <li>
              <span class="caption-skill">NodeJs</span>
              <div class="progress">
                 <div class="progress-bar" style="width: 75%">
                    <span>75% </span>
                 </div>
              </div>
           </li>
           <li>
              <span class="caption-skill">ExpressJs</span>
              <div class="progress">
                 <div class="progress-bar" style="width: 75%">
                    <span>75% </span>
                 </div>
              </div>
           </li>
           <li>
              <span class="caption-skill">Gulp</span>
              <div class="progress">
                 <div class="progress-bar" style="width: 70%">
                    <span>70% </span>
                 </div>
              </div>
           </li>
           <li>
              <span class="caption-skill">D3</span>
              <div class="progress">
                 <div class="progress-bar" style="width: 70%">
                    <span>70% </span>
                 </div>
              </div>
           </li>
           <li>
              <span class="caption-skill">ThreeJs</span>
              <div class="progress">
                 <div class="progress-bar" style="width: 30%">
                    <span>30% </span>
                 </div>
              </div>
           </li>
           <li>
              <span class="caption-skill">HapiJs</span>
              <div class="progress">
                 <div class="progress-bar" style="width: 30%">
                    <span>30% </span>
                 </div>
              </div>
           </li>
           <li>
              <span class="caption-skill">Grunt</span>
              <div class="progress">
                 <div class="progress-bar" style="width: 20%">
                    <span>20% </span>
                 </div>
              </div>
           </li>
        </ul>
      </section>
      <!-- end Skills -->

      <br>
      <br>

      {% include footer.html %}
      {% include scriptHolder.html %}
    </div>

  </body>

</html>