<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="theme-{% if site.resume_theme %}{{ site.resume_theme }}{% endif %}">
    
    {% include header.html %}

    <div class="wrapper">

      <header class="page-header">

        <img src="../img/avatar.jpg" alt="my photo" class="avatar">

        <h1 class="header-name">Daniel Murphy</h1>

        <div class="title-bar">

          <!-- Your title is also defined in the _config.yml file -->
          <h2resume class="header-title">Full Stack Software Engineer</h2resume>

          <!-- This is the markup for the icon links; moved out to an include because it's very verbose, and you shouldn't ever need to edit the markup (unless you want to re-order the icons); if you want to customize which links appear, define them in the _config.yml file -->
          {% include iconLinks.html %}
        </div>

        <div class="executive-summary">
          <p> I do full stack web development.  My areas of expertise are building/consuming RESTful APIs, 2D/3D geotemporal visualizations, object-oriented programming, and delivering superb UX on web, Android, and Windows.</p>
          <p>I've many languages and technologies over the years but my weapons of choice tend to be: React or Angular, NodeJS, MongoDB or Elastic Search, Webpack, and Docker.</p>
        </div>

        <a href="mailto:rdanielmurphy@gmail.com" class="contact-button">Contact me</a>

      </header>

      <!-- begin Experience -->
      <section class="content-section">

        <header class="section-header">
          <h2resume>Experience</h2resume>
        </header>


        <!-- Duplicate these resume-item elements and edit accordingly for each job you want to add here -->
        <div class="resume-item">
          <h3 class="resume-item-title">Unisys</h3>
          <h4 class="resume-item-details">Software Engineer &bull; January, 2017 &mdash; Present</h4>
          <p class="resume-item-copy">
            <ul class="resume-item-list">
              <li>Contracted to CBP as a full stack web developer.</li>
              <li>Created a responsive Angular 4 web app which handles credit card payments and searching/viewing receipts.</li>
              <li>Updated an existed Dojo web app with new functionality and refactored existing codebase into AMD modules. Added a build process to minify and combine files for increased performance. Implemented more efficient cache busting mechanism.</li>
              <li>Made updates to Java REST API backend endpoints.</li>
            </ul>
          </p>
        </div><!-- end of resume-item -->

        <!-- another resume item -->
        <div class="resume-item">
          <h3 class="resume-item-title">Atlasly</h3>
          <h4 class="resume-item-details">Owner &bull; January, 2017 &mdash; Present</h4>
          <p class="resume-item-copy">
            <ul class="resume-item-list">
              <li>Supported a client’s existing Cesium.js geospatial temporal application and added new features using Angular.js and D3. Managed deployments and services on AWS.</li>
              <li>Worked with a client to develop their Angular 4 application. Built app with Webpack and deployed to Digital Ocean. Setup a Cloud DataStore service on the Google Cloud Platform.</li>
            </ul>
          </p>
        </div><!-- end of resume-item -->
          
        <!-- another resume item -->
        <div class="resume-item">
          <h3 class="resume-item-title">Patrocinium Systems</h3>
          <h4 class="resume-item-details">UX Developer &bull; October, 2015 &mdash; Present</h4>
          <p class="resume-item-copy">
            <ul class="resume-item-list">
              <li>Lead full stack developer on a 3D geospatial and temporal web application using CesiumJS, D3, AngularJS, Bootstrap, Node.js, Hapi.js, and ElasticSearch as the datastore. Connected to S3 to save/load assets. Managed a small team to meet short deadlines.</li>
              <li>Responsible for deploying/maintaining the application on AWS with Elastic Beanstalk.</li>
              <li>Developed a patent for emergency visualizations methods in which the application is based on.</li>
            </ul>
          </p>
        </div><!-- end of resume-item -->

        <!-- another resume item -->
        <div class="resume-item">
          <h3 class="resume-item-title">Ringtail Design</h3>
          <h4 class="resume-item-details">UX Developer &bull; March, 2014 &mdash; June, 2015</h4>
          <p class="resume-item-copy">
            <ul class="resume-item-list">
              <li>Android app development which involved leveraging NodeJS and MQTT on the backend</li>
              <li>Created geo-temporal and chart visualizations using C#.Net for use on touch screens</li>
              <li>Web app development using NodeJS, ExpressJS, Neo4j, Angular, D3, and ThreeJS</li>
              <li>Heavily involved in the full UX process for all projects including meeting with customer and users to build requirements</li>
            </ul>
          </p>
        </div><!-- end of resume-item -->

        <!-- by now you're getting the picture... -->
        <div class="resume-item">
          <h3 class="resume-item-title">Information Management Systems, Inc.</h3>
          <h4 class="resume-item-details">Software Developer &bull; May, 2009 &mdash; March, 2014</h4>
          <p class="resume-item-copy">
            <ul class="resume-item-list">
              <li>Developed a C++.NET application to read/visualize cancer records.</li>
              <li>Designed and developed a Java swing program for searching a drug database using Lucene.</li>
              <li>Developed a Java swing application that enabled creating/editing/executing of Groovy scripts for analyzing cancer research data.</li>
              <li>Worked on a compiler that compiled a C like language into Groovy using JFlex and CUP.</li>
              <li>Added threading to a C++ program that calculates best fit lines for cancer data which increased the throughput of the application up to 300%.</li>
            </ul>
          </p>
        </div><!-- end of resume-item -->

      </section>
      <!-- end Experience -->

      <!-- begin Education -->
      <section class="content-section">

        <header class="section-header">
          <h2resume>Education</h2resume>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title">Towson University</h3>
          <h4 class="resume-item-details">Bachleor's Degree, Computer Science &bull; 2006 &mdash; 2009</h4>
          <p class="resume-item-copy">Minor in Math</p>
        </div>

      </section>
      <!-- end Education -->

      <!-- begin Awards/Patents -->
      <section class="content-section">

        <header class="section-header">
          <h2resume>Awards/Patents</h2resume>
        </header>

        <div class="resume-item">
          <p class="resume-item-copy">
            <ul class="resume-item-list">
              <li>Second place  in an mobile app contest run by SBA in 2011.</li>
              <li>First place  at the 2013 Health Hack DC.</li>
              <li>Interactive emergency visualization methods. <a href='https://patents.google.com/patent/US9794755B1/en?oq=9794755'>Patent No: US 9794755 B1. Oct. 17, 2017</a></li>
            </ul>
          </p>
        </div>

      </section>
      <!-- end Education -->

      <!-- begin Skills -->
      <section class="content-section">
        <header class="section-header">
          <h2>Skills</h2>
        </header>

        <h4>Programming Languages</h4>
        <ul class="list-unstyled list-skills">
           <li>
              <span class="caption-skill">Java</span>
              <div class="progress">
                 <div class="progress-bar" style="width: 99%">
                    <span>99% </span>
                 </div>
              </div>
           </li>
           <li>
              <span class="caption-skill">Javascript</span>
              <div class="progress">
                 <div class="progress-bar" style="width: 99%">
                    <span>99% </span>
                 </div>
              </div>
           </li>
           <li>
              <span class="caption-skill">C++</span>
              <div class="progress">
                 <div class="progress-bar" style="width: 80%">
                    <span>80% </span>
                 </div>
              </div>
           </li>
           <li>
              <span class="caption-skill">C#</span>
              <div class="progress">
                 <div class="progress-bar" style="width: 65%">
                    <span>70% </span>
                 </div>
              </div>
           </li>
           <li>
              <span class="caption-skill">C</span>
              <div class="progress">
                 <div class="progress-bar" style="width: 60%">
                    <span>65% </span>
                 </div>
              </div>
           </li>
        </ul>
        <br>
        <h4>Databases</h4>
        <ul class="list-unstyled list-skills">
           <li>
              <span class="caption-skill">MongoDB</span>
              <div class="progress">
                 <div class="progress-bar" style="width: 80%">
                    <span>80% </span>
                 </div>
              </div>
           </li>
           <li>
              <span class="caption-skill">ElasticSearch</span>
              <div class="progress">
                 <div class="progress-bar" style="width: 75%">
                    <span>75% </span>
                 </div>
              </div>
           </li>
           <li>
              <span class="caption-skill">MySql</span>
              <div class="progress">
                 <div class="progress-bar" style="width: 55%">
                    <span>55% </span>
                 </div>
              </div>
           </li>
           <li>
              <span class="caption-skill">Neo4j</span>
              <div class="progress">
                 <div class="progress-bar" style="width: 50%">
                    <span>50% </span>
                 </div>
              </div>
           </li>
        </ul>
        <br>
        <h4>Other Tech/Frameworks/Tools</h4>
        <ul class="list-unstyled list-skills">
           <li>
              <span class="caption-skill">Angular</span>
              <div class="progress">
                 <div class="progress-bar" style="width: 90%">
                    <span>90% </span>
                 </div>
              </div>
           </li>
           <li>
              <span class="caption-skill">CesiumJs</span>
              <div class="progress">
                 <div class="progress-bar" style="width: 80%">
                    <span>80% </span>
                 </div>
              </div>
           </li>
           <li>
              <span class="caption-skill">NodeJs</span>
              <div class="progress">
                 <div class="progress-bar" style="width: 75%">
                    <span>75% </span>
                 </div>
              </div>
           </li>
           <li>
              <span class="caption-skill">ExpressJs</span>
              <div class="progress">
                 <div class="progress-bar" style="width: 75%">
                    <span>75% </span>
                 </div>
              </div>
           </li>
           <li>
              <span class="caption-skill">Android Development</span>
              <div class="progress">
                 <div class="progress-bar" style="width: 70%">
                    <span>80% </span>
                 </div>
              </div>
           </li>
           <li>
              <span class="caption-skill">Webpack</span>
              <div class="progress">
                 <div class="progress-bar" style="width: 70%">
                    <span>70% </span>
                 </div>
              </div>
           </li>
           <li>
              <span class="caption-skill">React</span>
              <div class="progress">
                 <div class="progress-bar" style="width: 60%">
                    <span>80% </span>
                 </div>
              </div>
           </li>
           <li>
              <span class="caption-skill">D3</span>
              <div class="progress">
                 <div class="progress-bar" style="width: 50%">
                    <span>70% </span>
                 </div>
              </div>
           </li>
           <li>
              <span class="caption-skill">ThreeJs</span>
              <div class="progress">
                 <div class="progress-bar" style="width: 30%">
                    <span>30% </span>
                 </div>
              </div>
           </li>
        </ul>
      </section>
      <!-- end Skills -->

      <br>
      <br>

      {% include footer.html %}
      {% include scriptHolder.html %}
    </div>

  </body>

</html>